.wrap_login {
    width: 800px;
    height: 600px;
    background-color: #fff;
    margin: 100px auto 0 auto;
    border: 1px solid #f5f5f5;
}

.wrap_image {
    width: 45%;
    height: 100%;
    background-color: #aaa;
}

.wrap_detail {
    width: 100%;
    min-height: 250px;
    height: auto;
}