body{
    font-family: 'Kanit', sans-serif;
    background-color: rgb(242, 242, 242);
}

.login_container{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: auto;
    margin-top: 200px;
    padding: 60px 0 60px 0;
}

.register_container{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: auto;
    padding: 60px 0 60px 0;
}


.btn_submit{
    width: 100%;
    height: 100px;
    background-color: red;
}
.form-control{
    border: 2px solid #eee!important;
}

nav{
    width: 100%;
    height: 70px;
    background-color: teal;
}
nav a{
    color: #fff;
}
nav a:hover{
    color: #dcdcdc;
}
.sidenav{
    width: 260px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.w_user .dropdown-menu{
    left: auto!important;
    right: 0!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.side_logo{
    width: 100%;
    height: 70px;
    background-color: teal;
}

.sidemenu{
    width: 100%;
    height: 300px;
    padding: 14px;
}

.sidemenu ul {
    list-style: none;
    padding: 0;
}

.sidemenu ul li{
    padding: 10px 10px;
    cursor: pointer;
    transition: 300ms;
    margin-bottom: 6px;
}

.sidemenu ul li:hover{
    color: #000;
}

.nav_link a{
    color: gray;
}

.nav_link a:hover{
    text-decoration: none;
}

.menu_active{
    background-color: teal;
    color: #fff;
    transition: 300ms;
    border-radius: 4px;
}
.menu_active:hover{
    background-color: teal;
    color: #fff!important;
    transition: 300ms;
    border-radius: 4px;
}